

.header {
  height: 25vh; 
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c58ff1;
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  color: #222;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000; /* Ensure it stays above other content */
  box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Optional: for visual separation */
}
h1{ margin:0;
  padding-bottom: 40px;
  }

.fancy {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background: #ffffff;
   margin: 30px auto;
   padding: 40px;
   width: 50%;
   border-radius: 20px;
   box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
   text-align: center;
   transition: transform 0.3s ease, box-shadow 0.3s ease;
   margin-top: 10vh;
 }
 
 .fancy:hover {
   transform: translateY(-5px);
   box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
 }
 .navbar {
  background-color: #ceace9;
  display: flex;
  gap:5rem;
  position: absolute;
  bottom: 10px;
  right: 20px;
}
form {
  max-width: 500px;
  margin: 20px auto;
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  
}

.signup {
  margin-bottom: 15px;
  color: #333;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

input:focus {
  border-color: #c58ff1;
  outline: none;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #963ce0;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 2rem;
  font-family: sarif;
  font-weight: bold;
}

button:hover {
  background-color: #b989e0;
}
.textarea {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  font-family: inherit;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
.category {
  width: 100%;
  padding: 5px;
  margin: 10px;
  font-size: 1rem;
  font-family: inherit;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: white;
  
}

.disabled-button {
  background-color: rgb(220, 208, 221);
  color: rgb(3, 3, 3);
  cursor: not-allowed;
}
 
.message{
  color: green;
}

img{
  width:75%;
  }
  .edit{
    margin: 20px;
    margin-bottom: 0px;
    font-size: large;
  }